<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Template</title>
</head>
<body>
    <form action="/analyze" method="get">
    <h1 align="center">Welcome to Text Analyzer !</h1>
    <textarea name="text" style="width: 925px; height: 155px;" align="center"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuation <br>
    <input type="checkbox" name="allcaps">UPPER CASE <br>
    <input type="checkbox" name="charcount">Character Count<br>
    <input type="checkbox" name="wordcount">Word Count<br>
    <button type="submit">Analyze Text</button>
    </form>
</body>
</html>